*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
}
main{
    text-align: center;
    padding: 10px;
}
.elem{
    border: 1px groove black;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    flex:  0 0 33%;
    margin: 5px;
}
#korok{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 200px;
    padding: 15px;
}
button{
    margin: 10px;
}

